@use '../util' as *;

.flex-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: rem(330);
  background-color: var(--white);
  border-radius: rem(15);
  max-height: 97%;
  overflow:auto;

  @include breakpoint(large) {
    max-width: rem(400);
    max-height: 98%;
  }
  &__img {
    max-width: rem(330);
    border-radius: rem(14) rem(14) 0 0;

    @include breakpoint(large) {
      max-width: rem(400);
    }
  }
  &__title {
    margin-top: rem(30);
    font-weight: bold;
    color: var(--DarkBlue);
    h1 {
      margin-bottom: rem(3);
    }
  }
  &__p {
    color: var(--DesaturatedBlue);
    margin-right: rem(34);
    margin-left: rem(34);
  }
  &__container {
    height: rem(95);
    width: rem(280);
    background-color: var(--VeryPaleBlue);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: rem(10);
    margin-bottom: rem(20);
    justify-content: space-around;
    padding: rem(25) 0;
    

    @include breakpoint(large) {
      width: rem(330);
    }
    &--icon {
      margin-left: rem(-7);
    }
    &--plan {
      margin-left: rem(-20);
      display: block;

      @include breakpoint(large){
        margin-left: rem(-45);
    }
      h4 {
        margin: rem(3);
      }
      p {
        margin: rem(3);
        color: var(--DesaturatedBlue);
      }
    }
    &--change {
      a {
        text-decoration: underline;
        color: var(--BrightBlue);
        font-size: rem(15);
        &:hover {
          color: var(--BrightBlue);
          text-decoration: none;
          opacity: 80%;
        }
        &:visited {
          text-decoration: none;
        }
      }
    }
  }
  &__buttons {
    margin-bottom: rem(20);
    button {
      cursor: pointer;
      width: rem(280);
      height: rem(50);
      border: none;
      border-radius: rem(12);
      font-weight: 900;
    }
    &--payment {
      button {
        background-color: var(--BrightBlue);
        color: var(--white);
        box-shadow: 0px 6px 20px rgb(0 0 0 / 38%);
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        &:hover {
          opacity: 80%;
        }
      }
    }
    &--cancel {
      button {
        color: var(--DesaturatedBlue);
        background-color: var(--white);
        margin-top: rem(10);
        &:hover {
          color: var(--DarkBlue);
        }
      }
    }
  }
}

.attribution {
  display: flex;
  justify-content: center;
}
